* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: gray;
}

canvas {
  background-color: rgb(231, 220, 122);
  border: 3px solid black;
}
